<a href="https://colab.research.google.com/github/kathiravans1984/Time_Series_LSTM/blob/master/TimeSeries_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#LSTM

In [3]:
# Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [4]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
#2.1 Get the file
downloaded = drive.CreateFile({'id':'16TAgBvug__vpxZEvLZa65wrUHt_sF4B_'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Training Data.csv') 
downloaded = drive.CreateFile({'id':'1UFasLB9ZXM720Y15SJ0IKWAS2Xc5z6en'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Test Data.csv') 
downloaded = drive.CreateFile({'id':'1XLUFcOs1qZrZhYgqVj6CXNYnpP8pEt9v'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Building Metadata.csv') 
downloaded = drive.CreateFile({'id':'1D0eiGkUm-z7fNfQ2TUKaXNUbFqIX-tKu'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Predictions.csv')

In [6]:
#3.1 Read file as panda dataframe
import pandas as pd
meta_data = pd.read_csv('Building Metadata.csv', sep =';')
train_data = pd.read_csv('Training Data.csv', sep = ';' )
test_data = pd.read_csv('Test Data.csv', sep = ';', parse_dates = ['timestamp'])
submission = pd.read_csv('Predictions.csv', sep = ';', parse_dates = ['timestamp'], index_col = 'pred_id')

In [7]:
import datetime as dt
train_data['timestamp'] = train_data['timestamp'].apply(lambda x:pd.to_datetime(x).tz_convert('UTC'))
test_data['timestamp'] = test_data['timestamp'].apply(lambda x:pd.to_datetime(x).tz_convert('UTC'))
submission['timestamp'] = submission['timestamp'].apply(lambda x:pd.to_datetime(x).tz_convert('UTC'))

In [8]:
train_data.head()

   series_id                 timestamp    consumption  temperature
0     101869 2013-04-28 03:00:00+00:00  186668.524814    14.300000
1     100043 2017-11-22 13:00:00+00:00   70460.369717          NaN
2     103425 2016-04-20 06:00:00+00:00   67706.543361     4.333333
3     103425 2016-05-04 23:00:00+00:00   35042.519324     9.666667
4     101405 2015-10-14 05:00:00+00:00   29874.425364          NaN

In [ ]:
pd.read_csv(

In [ ]:
xyz.head()

   series_id                 timestamp   consumption  temperature
0     102474 2014-07-22 00:00:00+00:00  20339.725446    24.275000
1     102857 2015-10-04 02:00:00+00:00   4672.240009    10.333333
2     100492 2014-08-14 09:00:00+00:00  57712.556284    31.000000
3     103628 2015-01-27 02:00:00+00:00   2662.731426     5.000000
4     100486 2015-03-08 03:00:00+00:00  38865.265925     7.000000